@charset "UTF-8";

/* リセットcss */
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: 700
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

body * {
    box-sizing: border-box;
    font-family: 'Zen Maru Gothic', sans-serif;;
}

/* ここまで リセットcss */

/*ヘッダー部分*/
.header-img{
    width:100%;
    line-height: 1;
}

header{
    position:relative;
}

#header-cart{
    position:absolute;
    bottom:5%;
    right:17%;
    width:36px;
    height:36px;
}

#header-instagram{
    position:absolute;
    bottom:5%;
    right:11%;
    width:36px;
    height:36px;
}

#header-menu{
    position:absolute;
    bottom:5%;
    right:5%;
    width:36px;
    height:36px;
}

#header-logo{
    position: absolute;
    left: 5%;
    bottom:5%;
    width:300px;
    z-index: 100;
}

@media screen and (max-width: 500px){
    #header-cart{
        position:absolute;
        bottom:5%;
        right:25%;
        width:12px;
        height:12px;
    }

    #header-instagram{
        position:absolute;
        bottom:5%;
        right:18%;
        width:12px;
        height:12px;
    }

    #header-menu{
        position:absolute;
        bottom:5%;
        right:11%;
        width:12px;
        height:12px;
    }

    #header-logo{
        position: absolute;
        left: 5%;
        bottom:5%;
        width:30vw;
        z-index: 100;
    }
}

/*ここまでヘッダー部分*/

/*ニュース部分*/
#news{
    position: relative;
}

.heading{
    font-size: 40px;
    margin-top: 130px;
    margin-left: 80px;
}

#news-a{
    position:absolute;
    top:15px;
    right:100px;
    text-decoration: none;
    color:#000000;
}

#news-instagram{
    margin-right: 5px;
}

.news-contents{
    display: flex;
}

.news-block{
    width:20%;
    margin-left:50px;
}

.news-img{
    width:100%;
    margin-top:50px;
}

.news-title{
    margin-top: 20px;
    font-weight: bold;
    font-size:16px;
}

.news-message{
    line-height: 20px;
    height:200px;
}

.news-detail{
    margin: 20px 0 0 0;
    color:black;
}

.separator {
    border-bottom: 1px solid #000;
    margin: 20px 0;            
    width: 100%;                   
}

.news-date{
    margin-top: 20px;
    font-weight: bold;
}

@media screen and (max-width:500px){
    .heading{
        font-size: 40px;
        margin-top: 40px;
        margin-left: 40px;
    }

    #news-a{
        width:300px;
        position:absolute;
        text-align: center;
        top:600px;
        left:50%;
        transform: translateX(-50%); /* 自身の幅の50%を左に移動 */
        /* left:50%とtransform:translateX(-50%)を組み合わせることで、position:absolute時
        に中央揃いにする*/
        text-decoration: none;
        color:#000000;
        padding :10px 100px;
        border: #ccc 1px solid;
    }

    .news-block{
        width:40%;
        margin-left:30px;
    }

}

/*ここまでnews*/

/*アバウト部分*/

#about{
    margin: 150px 150px 50px;
    line-height: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: 80px 380px; /* 1列目は1fr、2列目は2frの幅 */
    gap: 30px; /* ブロック間のスペースをゼロにする */
    width: 100%; /* グリッド全体の幅を調整 */
    height: auto; /* グリッド全体の高さ */
    margin-top: 50px;
}


.grid-item p {
    margin-bottom: 30px; /* 段落間の行間を20pxに設定 */
}

.grid-item:nth-child(1) {
    font-weight: bold;
}

.grid-item:nth-child(3) {
    font-weight: bold;
}

@media screen and (max-width:500px){
    #about{
        margin: 150px 50px 50px;
        line-height: 30px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr; /* 1列 */
        grid-template-rows: repeat(4, auto); /* 4行 */
        gap: 30px; /* ブロック間のスペース */
        width: 100%;
        height: auto;
        margin-top: 50px;
    }
    
}

/*ここからproduct*/

.product-img{
    width:60%;
}